# =========================
# DATA FILES
# =========================
data/raw/
data/processed/
*.csv
*.xlsx

# =========================
# ENV & SECRETS
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
venv/
.venv/
__pycache__/
*.pyc

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db
