# =========================
# DATA FILES
# =========================
data/interim/
# Ignore file laporan di notebooks
notebooks/IMDB_Data_Cleaning_Report.pdf
notebooks/IMDB_Data_Cleaning_Report.docx
project_documentation.txt
images/

# =========================
# ENV & SECRETS
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
venv/
.venv/
__pycache__/
*.pyc

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db
